# Ignore everything but two folders
/*

# Files to not ignore
!/.gitignore

# Folders to not ignore
!/src/hero/
!/test/

.settings
bin
build
dist
nbproject
.classpath
.project
build.xml
manifest.mf
*.log
*.log.*

